.EventInfo
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 84vh;
    border-left: 1px solid var(--color-text-light);
}
.EventImg
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap:1rem;
}
.ImgText
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;
    max-height: 20vh;
    align-items: start;
    color: white;
    gap: 0.5rem;
    
}
.EventImg h1
{
    font-size: 2rem;
    
}
.EventImg p
{
    font-size:14px;
    color:var( --color-blue-start)
}
.EventImg img
{

    padding: 1rem;
    width: 40%;
    height: 15rem;
    border: 1px solid none;
    border-radius: 2rem;
}
.EventInfoLine
{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}