.OrderDetails
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;             
    height: 100%;   
    font-size: 1.2rem;
    background-color: var(--color-surface);
    margin: 0.5rem;
    border: solid 2px  black ;
    border-radius: 1rem;
    
}


.OrderInfoContainer {

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 5rem;
}


.InfoOrder
{   
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    gap: 1rem;
    color:var(--color-text-light);
    border-radius: 1vh;
    padding: 1rem;
    box-shadow: 0px 0px 1px none;

}
.infotickets
{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid  var(--color-text-light);

}


.PriceInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom:1px solid  var(--color-text-light);
}

.PriceInfoLine
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UserInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom:1px solid var(--color-text-light);
}
.UserInfoLine
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


