@import "../../../../shared/styles/colors.css";
@import "../../../../shared/styles/typography.css";


.userPanel {
    width: 100%;
    color: var(--color-text-white);
}

.userPanel-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.userPanel-avatar img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.8rem;
}

.userPanel-name {
    font-size: var(--font-size-xl);
    margin-bottom: 0.3rem;
}

.userPanel-email {
    font-size: var(--font-size-semibase);
    color: var(--color-text-muted);
    margin-bottom: 0.6rem;
}

.userPanel-roleBox {
    margin: 0.5rem 0 1.2rem;
}

.userPanel-role {
    background: var(--color-card);
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
    font-size: var(--font-size-sm);
}

.userPanel-section {
    margin-bottom: 1.2rem;
}

.userPanel-section h4 {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-base);
}

.userPanel-btn {
    display: block;
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 0.4rem;
    border: none;
    border-radius: 0.8rem;
    background: var(--color-card);
    color: var(--color-text-white);
    cursor: pointer;
    transition: 0.2s;
}

.userPanel-btn:hover {
    background: var(--color-card-image);
}