:root {
    /* Base */
    --color-bg-dark: #0A0A0A;
    --color-bg-secondary: #1A1A1E;
    --color-surface: #2E2E33;

    /* Texto */
    --color-text-light: #E5E7EB;
    --color-text-muted: #9CA3AF;

    --color-dark-blue-start: #2563EB;
    --color-dark-blue-end: #3B82F6;
    --color-blue-start: #0096D6;
    --color-blue-end: #00AEEF;

    --color-dark-semitransparent: #00000060;
    --color-surface-semitransparent: #2E2E3360;

    --color-error: #990000;

    /* Extra (opcional, para detalles) */
    --gradient-blue-purple: linear-gradient(135deg, var(--color-blue-start), var(--color-purple-end));
    --gradient-purple-dark: linear-gradient(135deg, var(--color-purple-start), var(--color-bg-dark));
}
