:root {
    /* Base */
    --color-bg-dark: #0A0A0A;
    --color-bg-secondary: #1A1A1E;
    --color-surface: #2E2E33;

    --color-options: #0F0F10;
    --color-status: #171717;

    /* Texto */
    --color-text-white: #FFFFFF;
    --color-text-light: #E5E7EB;
    --color-text-muted: #9CA3AF;

    --color-card: #262626;
    --color-card-image: #3f3f3f;
    --color-dots: #555555;


    --color-dark-blue-start: #2563EB;
    --color-dark-blue-end: #3B82F6;
    --color-blue-start: #0096D6;
    --color-blue-end: #00AEEF;

    --color-red-start: #d63636;
    --color-red-end: #bb2f2f;

    --color-dark-semitransparent: #00000060;
    --color-surface-semitransparent: #2E2E3360;

    --color-success-light: #4caf50; 
    --color-error: #990000;

    /* Extra (opcional, para detalles) */
    --gradient-blue-purple: linear-gradient(135deg, var(--color-blue-start), var(--color-purple-end));
    --gradient-purple-dark: linear-gradient(135deg, var(--color-purple-start), var(--color-bg-dark));
}
