.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: var(--color-bg-dark);

  border-image: linear-gradient(
      to right,
      var(--color-dark-blue-start),
      var(--color-blue-end)
    )
    1;
  color: var(--color-text-muted);
  font-size: var(--font-size-sm);
  position: relative;
  bottom: 0;
}

.footer p {
  margin: 0;
  opacity: 0.8;
}
