@import "../../../shared/styles/colors.css";
@import "../../../shared/styles/typography.css";

.venue-card-general {
    position: relative;
    overflow: visible;
}

.venue-card {
    position: relative;
    background-color: var(--color-card);
    border-radius: 0.8rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease;
    border: 2px solid transparent;
}

.venue-card:hover {
    transform: scale(1.02);
    border-color: var(--color-blue-start);
}

.venue-card-image-wrapper {
    height: 18rem;
    width: 100%;
    background-color: var(--color-card-image);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.venue-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.venue-card-content {
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.6rem;

    min-height: 11rem;
    max-height: 11rem;
}

.venue-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.venue-card-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--color-text-light);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    gap: 0.5rem;
}

.venue-card-capacity {
    font-size: var(--font-size-semibase);
    color: var(--color-text-muted);
}

.venue-card-type {
    font-size: var(--font-size-semibase);
    background-color: var(--color-status);
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    display: inline-block;
    width: fit-content;
}