@import "../../../styles/colors.css";

.hero-carousel-container {
    max-width: 80rem;
    margin: 2rem auto;
    padding: 0 1.5rem;
}

.hero-carousel {
    position: relative;
    width: 100%;
    height: 26rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.hero-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 0.7s ease;
}

.hero-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.6rem;
}

.hero-dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-dots);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-dot.active {
    background-color: var(--color-dark-blue-end);
    transform: scale(1.15);
}
