.home-container {
  max-width: 80rem; /* igual a max-w-7xl */
  margin: 2.5rem auto 0 auto; /* mt-10 */
  padding: 0 1.5rem 5rem 1.5rem; /* px-6 + pb-20 */
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.5rem;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .home-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.load-more-btn {
  background-color: var(--color-options);
  color: var(--color-text-white);
  padding: 0.75rem 1.5rem;
  border-radius: 0.8rem;
  font-size: var(--font-size-2xl);
  transition: background-color 0.25s ease;
}

.load-more-btn:hover {
  background-color: var(--color-card); /* neutral-700 */
}
