@import "../../../styles/colors.css";
@import "../../../styles/typography.css";

.promo-container {
    max-width: 80rem;
    margin: 3.5rem auto;
    padding: 0 1.5rem;
}

.promo-viewport {
    overflow: hidden;
    border-radius: 0.8rem;
}

.promo-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: transform 0.4s ease;
}

.promo-track::-webkit-scrollbar {
    display: none;
}

/* Item */
.promo-item {
    flex-shrink: 0;
}

/* Imagenes */
.promo-image-wrapper {
    width: 100%;
    border-radius: 0.8rem;
    background: var(--color-card-image);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.promo-dot {
    width: 2rem;
    height: 0.4rem;
    border-radius: 1rem;
    background-color: var(--color-dots);
    transition: background-color 0.25s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
}

.promo-dot:hover {
    background-color: var(--color-dark-blue-start);
}

.promo-dot.active {
    background-color: var(--color-dark-blue-end);
    transform: scale(1.1);
}
